@use 'ym-byn-symbol-fonts';

/* Frontend Symbol */
.ym-byn-symbol,
body.wc-byn-currency .woocommerce-Price-currencySymbol {
	font-family:   'nbrb-byn' !important;
	font-variant:   normal;
	font-weight:    inherit;
	font-style:     inherit;
	font-size:      125%;

	vertical-align: baseline;
	letter-spacing: normal;
	line-height:    inherit;
	text-transform: none;
	speak:          none;

	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings:    'liga=1';
	-moz-font-feature-settings:    'liga';
	-ms-font-feature-settings:     'liga' 1;
	font-feature-settings:         'liga';

	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures:         discretionary-ligatures;

	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}